/* .something {
    color: red
} */

/* find an element which has the class of hotdog */
/* then inside it get all <p> */
/* .hotdog p {
    color: red;
} */

/* .text {
    color: blue
} */

/* .hotdog .text {
    color: blue
} */

/* .text {
    background-color: orange;
} */

/* find an h3 element which has the class of text */
h3.text {
  background-color: orange;
}

section.hotdog p.text {
  color: yellow;
  background-color: black;
}

section.hotdog .content p {
  background-color: yellow;
}

/* .hotdog .content button.btn {
  background-color: red;
} */

.content button.btn {
  background-color: red;
}

section.text {
/* means a <section> which itself has class of text */
}

section .text {
    /* section which has a child element with class of text */
}

.content .btn-green {
    background-color: green;
}

article#hello button#btn {
    background-color: orange;
}