.delete {
    background-color: red;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.cancel {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: darkgray;
}

.info {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: lightblue;
}

button.btn {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.btn-danger {
    background-color: red;
}

.btn-primary {
    background-color: darkgray;
}

.btn-info {
    background-color: lightblue;
}

#header {
    background-color: purple;
}